* {
  font-family: 'Roboto';
  margin: 0;
}

p {
  margin: 8px 0;
}
hr {
  margin: 24px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.item {
  border: 1px solid #445488;
  padding: 6px 4px;
  border-radius: 4px;
}

.playlist:hover {
  color: #2882e9;
  cursor: pointer;
}

.playlist {
  padding: 10px 5px;
}

.header-buttons {
  width: 100%;
}

.list-bottom {
  width: 100%;
  
}

.drawer-list {
  height:100%;
  display: flex;
  align-items: center;
  /* padding-bottom: */
}