* {
  font-family: 'Roboto';
  margin: 0;
}

#root {
  margin: 0;
  /* padding: 0; */
}

/* .main * {
  margin:  8px ;
} */
p {
  margin: 8px 0;
}
hr {
  margin: 24px 0;
}

html {
  /* margin:  */
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.item {
  border: 1px solid #445488;
  padding: 6px 4px;
  border-radius: 4px;
}

.playlist:hover {
  color: #ed1212;
  cursor: pointer;
}

.header-buttons {
  width: 100%;
}

.list-bottom {
  width: 100%;
  
}

.drawer-list {
  height:100%;
  display: flex;
  align-items: center;
  /* padding-bottom: */
}